# Data
data/raw/
data/batches/
data/chroma_db/

# Python
__pycache__/
*.pyc
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Airflow runtime files
logs/
airflow.db
airflow.cfg
airflow-webserver.pid
standalone_admin_password.*
webserver_config.py

# MLflow local runs (using MLflow server instead)
mlruns/